MODEL_BASE_URL = "https://generativelanguage.googleapis.com/v1beta/openai/"
MODEL_API_KEY = "AIzaSyCdrimhMsLxiFxWvfc94Z9j3g6I7D0NlHI"
MODEL_NAME = "gemini-2.0-flash"


CHROMA_COLLECTION_NAME = "rag_collection"
